PORT=3000
SUPABASE_URL=https://iqqkqcujoukxmikdtoyw.supabase.co/rest/v1/
SUPABASE_SERVICE_eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlxcWtxY3Vqb3VreG1pa2R0b3l3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDg2MjU1OCwiZXhwIjoyMDk2NDM4NTU4fQ.MZLG1tlxYl4920fultnANZIuHIoD3iii9YpZTTI9cNI
GEMINI_API_KEY=tAQ.Ab8RN6KhfkpgVGa1XlnVllW-K7jx1dw5piqG4sr-xQKpp8xMYg
JWT_SECRET=